@charset "utf-8";
/* CSS Document */

*
{
    margin:0 auto;
    padding:0px;
}

html, body {
    margin:0 auto;
    padding:0;
    font-family: 'PT Sans', sans-serif;
    font-family: 'PT Sans Narrow', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
    color:#000;
    height:100%;
}
body {
    position: absolute;
    width: 100%;
    z-index: 7;
}

h1,h2,h3,h4,h5,h6 {
    margin:0px;
    padding:0px; line-height:normal; font-weight:bold;
}

h1{font-size:36px;}
h2{font-size:30px;}
h3{font-size:24px;}
h4{font-size:18px;}
h5{font-size:14px;}
h6{font-size:12px;}

a, a:visited {transition:all 0.5s ease-in-out 0s; -webkit-transition:all 0.5s ease-in-out 0s;}
a:hover, a:active {transition:all 0.5s ease-in-out 0s; -webkit-transition:all 0.5s ease-in-out 0s;}

a:link, a:visited{outline:none; text-decoration:none;}
a:hover, a:focus {
    outline: medium none;
    text-decoration: none;
}
*{
    outline:none;
}

*::before, *::after {
    box-sizing: border-box;
}

/********RESET********/

/* set image max width to 100% */
img {
    max-width: 100%;
    height: auto; border:0 none;
    width: auto\9; /* ie8 */
}

/* set html5 elements to block */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, banner {
    display: block;
}

#sitepage {width:100%; height:auto!important; min-height:100%; overflow:hidden; position:relative; top:0;}

#main {min-height:400px; padding-bottom:65px; position:relative;}

header.sitepage-header {background:#6cabe9; color: #fff; position:relative; width:100%;
    min-height: 50px; padding:15px 0; margin-bottom:20px;
}

.container {width:1170px; margin:auto;}

.container:after {clear:both;}

.clickable {
    cursor: pointer
}

.left:last-child:after {clear:both;}

.right:last-child:after {clear:both;}

footer.sitepage-footer {
    font-family: 'PT Sans', sans-serif;
    font-weight:400;
    background: #345564;
    color: #e6e8e9;
    font-size: 14px;
    text-transform:uppercase;
    left: 0;
    bottom: 0;
    min-height: 60px;
    padding: 50px 0;
    position: relative;
    text-align: center;
    width: 100%;
}
footer.sitepage-footer a{color:#fff;}

.left {float:left!important;}
.right {float:right!important;}
.clear{ clear:both; margin:0; padding:0;}

/********RESET********/

#headerContainer{ width:100%; height:auto;}

.header{ height:auto;}

/*.header .container-fluid {
    padding-left: 0;
    padding-right: 0;
}
.banner {
    float: left;
    height: auto;
    position: relative;
	text-align:center;
    width: 100%;
}
.banner img {
    height: 450px;
    width: 100%;
}
.banner.inner img {
    height: 170px;
    width: 100%;
}
.logo {
	left:0;
	right:0;
    margin-top:100px;
    position: absolute;
    text-align: center;
    z-index: 1001;
}*/
.full-width-box {
    padding: 100px 0 124px;
    position: relative;
}
.full-width-box.inner {
    padding: 40px 0 70px;
    position: relative;
}

.banner {
    bottom: 0;
    height: auto;
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    z-index: 0;
}
.banner img {
    height: 450px;
    width: 100%;
}
.full-width-box.inner .banner img {
    height: 170px;
    width: 100%;
}
.full-width-box .container {
    position: relative;
}
.full-width-box h1 {
    margin-top: 57px;
    padding-top: 0; padding-bottom: 0;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight:700;
    color: #fff;
    text-transform: uppercase;
    font-size:30px;
}
.full-width-box h1 span{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight:300;
}
.logo {
    left: 0;
    right: 0;
    text-align: center; margin-bottom:0;
}
.logo.inner img {
    width: 45%;
}
.language-block.inner {
    margin-bottom: 0;
    margin-top: 57px;
}

.initially-hidden {
    display: none
}

#main .container-fluid {
    padding-left: 0;
    padding-right: 0;
}

.language-block {
    margin: 20px 0;
}
.language-block ul li {
    background: #345564;
    border: none;
    border-radius: 100%;
    color: #fff;
    display: inline-block;
    height: 30px;
    line-height:30px;
    margin-right: 10px;
    text-align: center;
    text-transform: uppercase;
    width: 30px;
    transition:all 0.5s ease-in-out 0s; -webkit-transition:all 0.5s ease-in-out 0s;
}
.language-block li:last-child {
    margin-right: 0;
}
.language-block ul li:hover {
    background: #25414e;
    transition:all 0.5s ease-in-out 0s; -webkit-transition:all 0.5s ease-in-out 0s;
}
.language-block ul {
    text-align: right;
    margin-bottom: 0;
}
.language-block ul li a {
    color: #fff;
}

.service-type {
    color: #a8a8a8;
    text-align: center;
}
.service-image {
    position: relative; cursor:pointer;
    overflow:hidden;
    margin-bottom: 20px;
}
.service-image img {
    width: 100%;
    border:none;
    border-radius: 3px;
}

.service-logo{
    display:none;
}
.service-image:hover > .service-logo {
    width:100%;
    height:100%;
    padding: 50px;
    box-sizing: border-box;
    background:rgba(52,85,100,0.7);
    color: #fff;
    border:none;
    border-radius:3px;
    display:block;
    position: absolute;
    top: 0;
    z-index:100;
}
.service-logo img {
    width:auto;
}

.service-type h1, .introduction h1, .records h1, .relationship h1 {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight:700;
    color: #4b4b4b;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-size:30px;
}
.service-type p, .introduction p, .records p, .relationship p {
    font-family: 'PT Sans', sans-serif;
    font-weight:400;
    font-size:18px;
}
.introduction {
    margin-top: 50px;
}
.introduction, .records, .relationship {
    background: #345564;
    padding: 30px 0;
    width: 100%;
    text-align:center;
}
.introduction h1, .introduction p {
    color:#fff;
}

.records {
    background:#f1f2f2;
}

.records h1, .relationship h1 {
    margin-bottom: 0;
}
.records p, .relationship p {
    color: #a8a8a8;
    margin-bottom: 30px;
}
.records ul li {
    list-style: none;
}
.record-list {
    border: 1px solid #d3d4d4;
    box-shadow: 0 0 4px #d3d4d4;
    box-sizing: border-box;
    padding: 20px;
    text-align:left;
    margin-bottom: 20px;
    position: relative; cursor:pointer;
}
.record-edit {
    display:none;
}
.record-container:hover > .record-edit {
    width:100%;
    height:100%;
    color: #fff;
    border-bottom:3px solid #345564;
    display:block;
    margin-left: -20px;
    position: absolute;
    top: 0;
    z-index:100;
}
.delete {
    background: #345564;
    border: none;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    position: absolute;
    right: 10px; top: -10px;
    text-align: center;
}
.record-list h4 {
    color: #565656;
    font-family: "PT Sans", sans-serif;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 10px;
}
.topic {
    color: #a8a8a8;
    font-size: 13px;
    text-transform: uppercase;
    white-space: nowrap;
}

.relationship {
    background:#fff;
}

.relationship .form-control {
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    background: #345564;
    border: none;
    border-radius: 3px;
    box-shadow: none;
    font-size: 16px;
    color: #fff;
}
.relationship input[type="text"]:focus, .relationship input[type="email"]:focus {
    background: #3f6f83;
}
.button {
    background: #345564;
    border: none;
    border-radius: 3px;
    color: #fff;
    padding: 5px 40px;
    text-transform: uppercase;
    transition:all 0.5s ease-in-out 0s; -webkit-transition:all 0.5s ease-in-out 0s;
    font-size:16px;
}
.button:hover, .button:focus {
    background: #3f6f83; color: #e6e8e9;
}
.relationship .button {
    width: 100%;
}
.relationship textarea.form-control {
    background:#e6e8e9 url(../images/logo-icon.png) no-repeat right 20px bottom 20px;
    background-size:25%;
    height: auto;
    resize: none;
    color:#4b4b4b;
}
.relationship .form-horizontal .form-group {
    margin-left: 0;
    margin-right: 0;
}

.relationship .form-control:-moz-placeholder { /* Firefox 18- */
    color: #fff;
    opacity: 1;
}
.relationship .form-control::-moz-placeholder { /* Firefox 19+ */
    color: #fff;
    opacity: 1;
}
.relationship .form-control::-webkit-input-placeholder {
    color: #fff;
    opacity: 1;
}
.relationship .form-control:-ms-input-placeholder {
    color: #fff;
    opacity: 1;
}


.contact-details {
    text-align: left;
    color:#4b4b4b;
}
.tab-icon {
    float: left;
    margin-right: 25px;
}
.contact-details h3 {
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-size: 20px;
}
.contact-details h3 + span {
    display: inline-block;
    font-size: 20px;
    color:#a8a8a8;
}
.contact-details h3 + span a{
    color:#a8a8a8;
}
.contact-details .row {
    margin-bottom: 20px;
}
.footer-logo {
    margin-bottom: 20px;
}
.footer-logo > img {
    width: 40%;
}

.post-block {
    border: 1px solid #d9d9d9;
    box-shadow: 0 0 8px #f1f1f1;
    float: left;
    width: 100%;
    margin-bottom: 30px;
}
.post-block-content {
    padding: 20px 20px 10px;
}

.post-block h3, .post-widget h3, .add-comment h3 {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight:700;
    color: #4b4b4b;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-size:20px;
}
.post-date, .post-block p, .summary {
    color: #a8a8a8;
    display: block;
    font-size: 16px;
    text-align: right;
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
}
.post-image img {
    width: 100%;
}
.post-block p {
    text-align:justify;
    line-height:normal;
}

.view {
    margin-right: 20px;
}
.details-nav {
    background: #345564;
    color:#fff;
    box-sizing: border-box;
    float: left;
    padding: 10px;
    width: 100%;
    font-family: "PT Sans", sans-serif;
    font-weight: 700; text-align:center;
    text-transform:uppercase;
    position:relative;
    transition:all 0.5s ease-in-out 0s; -webkit-transition:all 0.5s ease-in-out 0s;
}
.details-nav::after {
    content: "";
    background:rgba(0, 0, 0, 0) url("../images/logo-icon.png") no-repeat right 25px center;
    background-size:28%;
    opacity: 0.2;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    transition:all 0.5s ease-in-out 0s; -webkit-transition:all 0.5s ease-in-out 0s;
}

.details-nav:hover{
    background:#3e7082;
    cursor:pointer;
    transition:all 0.5s ease-in-out 0s; -webkit-transition:all 0.5s ease-in-out 0s;
}

.user-img, .recent-post-img {
    float: left;
    margin-right: 10px;
}
.user-img img {
    border: 5px solid #ececec;
    border-radius: 100%;
    height: 80px;
    width: 80px;
    box-sizing:border-box;
}

.category-img {
    float: left;
    margin-right: 10px;
    border: 5px solid #ececec ;
    border-radius: 100%;
    height: 80px;
    width: 80px;
    background: url(/images/hd-live.jpg);
    background-size: 120px 120px;
    background-position-x: -24px;
    background-position-y: -22px;
}

.post-widget h3 {
    margin-bottom: 0;
    margin-top: 15px;
}
.post-widget h3 + span {
    color: #a8a8a8;
    font-family: "PT Sans",sans-serif;
    font-weight: 400;
}
.user-img.recent-post-img img {
    border: medium none;
    border-radius: 0;
    height: 70px;
    width: 70px;
}
.recent-post {
    margin-top: 40px;
}
.recent-post h3 {
    margin-bottom: 20px;
    margin-top: 0;
}
.recent-post h4 {
    color: #565656;
    font-family: "PT Sans",sans-serif;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 8px;
}
.recent-post .summary {
    display: inline-block;
}
.recent-post .post-date {
    display: inline-block;
    margin-right: 10px;
    text-align: left;
}
.recent-post .view {
    margin-right: 10px;
}

.recent-post .row, .detailed-story .row {
    margin-bottom: 20px;
}
.more {
    background: #d8d8d8;
    padding: 3px 0;
    margin-bottom: 10px;
    transition:all 0.5s ease-in-out 0s; -webkit-transition:all 0.5s ease-in-out 0s;
}
.more h4 {
    margin-bottom: 0;
    margin-top: 0;
    text-align:center;
}
.more h4 a {
    color: #fff;
}
.more h4 i {
    color: #fff;
    font-size: 30px;
    padding-top: 0;
}
.more:hover{
    background:#3e7082;
    cursor:pointer;
    transition:all 0.5s ease-in-out 0s; -webkit-transition:all 0.5s ease-in-out 0s;
}

.search-nav {
    background: #345564;
    box-sizing: border-box;
    color:white;
    border: none;
    float: left;
    font-family: "PT Sans",sans-serif;
    font-weight: 400;
    padding: 8px 8px 8px 20px;
    font-size:18px;
    width: 100%;
}

.banner.mobile {
    display: none;
}

::-webkit-input-placeholder {
    color: white;
}

:-moz-placeholder { /* Firefox 18- */
    color: white;
}

::-moz-placeholder {  /* Firefox 19+ */
    color: white;
}

:-ms-input-placeholder {
    color: white;
}

.recent-post.search .summary {
    display: block;
    text-align: right;
}
.recent-post.search .post-date {
    float: left;
}
.recent-post.search .comment {
    margin-right: 10px;
}
.remove a {
    color: #a8a8a8;
}
.remove a:hover {
    color: #345564;
}

.detailed-story h2 {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight:700;
    color: #4b4b4b;
    margin-bottom:0;
    font-size:24px;
}
.detailed-story h2 + span {
    color: #4b4b4b;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
}

.gallery ul li {
    list-style: none;
}
.gallery li > img {
    width: 100%;
}
.detailed-story p{
    color: #a8a8a8;
    display: block;
    font-size: 18px;
    text-align:justify;
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    margin-bottom: 20px;
}

.add-comment h3 span {
    color: #a8a8a8;
    float: right;
    font-family: "PT Sans",sans-serif;
    font-size: 20px;
    font-weight: 700;
    text-transform: none;
}
.add-comment h3 span i {
    color: #345564;
    margin-right: 10px;
    vertical-align: middle;
}
.add-comment h3 span a{
    color: #a8a8a8;
}
.add-comment h3 span a:hover{
    color: #828282;
}

.post-block.post-comment {
    border:none;
    border-top:8px solid #345564;
    border-radius: 5px 5px 0 0;
    margin-bottom:20px;
}
.post-comment .post-image {
    text-align: center;
}
.post-comment .post-image img {
    border: none;
    border-radius: 100%;
    height: 100px;
    width: 100px;
    margin-bottom:8px;
}
.post-comment .post-image span {
    color: #4b4b4b;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    font-size:16px;
    line-height: normal;
}
.post-comment .details-nav {
    border: medium none;
    border-radius: 0 0 5px 5px;
    font-weight: 400;
    text-align: left;
}
.post-comment .details-nav span {
    float: right;
    font-weight: 700;
}

.recent-summary {
    color: #a8a8a8;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    font-size: 15px;
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
}

.recent-post .post-date{
    margin: 0;
}

#viewed-container {
    margin-bottom: 25px;
}

.no-margin {
    margin: 0;
}
/*.post-comment .details-nav:hover::after {
	background:none;
	transition:all 0.5s ease-in-out 0s; -webkit-transition:all 0.5s ease-in-out 0s;
}*/

.detailed-story .carousel-inner {
    background: #ececec;
}
.detailed-story .carousel-control.left, .detailed-story .carousel-control.right{
    background-image:none;
    background-repeat:no-repeat;
    background:#d8d8d8;
}
.detailed-story .carousel-control{
    width:40px;
    opacity:0.8;
}
.detailed-story .carousel-inner .item {
    height: 300px;
    width: 100%;
}
.detailed-story .carousel-inner .item img {
    height: 300px;
    width: 100%;
}
.detailed-story .carousel-control .icon-prev, .detailed-story .carousel-control .icon-next, .detailed-story .carousel-control .fa-angle-left, .detailed-story .carousel-control .fa-angle-right {
    display: inline-block;
    margin-top: -10px;
    position: absolute;
    top: 45%;
    z-index: 5;
}
.detailed-story .carousel-control .icon-prev, .detailed-story .carousel-control .fa-angle-left {
    left: 50%;
    margin-left: -10px;
}
.detailed-story .carousel-control .fa-angle-left, .detailed-story .carousel-control .fa-angle-right, .detailed-story .carousel-control .icon-prev, .detailed-story .carousel-control .icon-next {
    font-size: 30px;
    height: 30px;
    margin-top: -10px;
    width: 30px;
}
.detailed-story .carousel-control .fa-angle-left, .detailed-story .carousel-control .fa-angle-right, .detailed-story .carousel-control .icon-prev, .detailed-story .carousel-control .icon-next {
    font-size: 30px;
    height: 30px;
    margin-top: -10px;
    width: 0;
}
.detailed-story .right.carousel-control {
    padding-right: 12px;
}

.detailed-story .carousel-control .fa-angle-left, .detailed-story .carousel-control .icon-prev {
    margin-left: -10px;
}

.detailed-story .carousel-control .fa-angle-left, .detailed-story .carousel-control .fa-angle-right {
    color: #fff;
    font-size: 50px;
}

/*.carousel.slide {
    display: none;
}*/

@media (max-width: 1280px){

}

@media (max-width: 1024px){

}

@media (max-width: 991px){
    .full-width-box.inner h1 {
        font-size:24px;
    }
    .logo.inner img {
        width: 55%;
    }

    .detailed-story .carousel-inner .item {
        height:250px;
    }
    .detailed-story .carousel-inner .item img {
        height:250px;
    }

}

@media (max-width: 767px){
    .full-width-box.inner h1 {
        font-size:20px;
    }
    .post-block {
        display: table;
        float: none;
    }
    .gallery ul li {
        margin-bottom: 20px;
    }
    .post-comment .post-image {
        margin-bottom: 10px;
    }
    .post-comment .post-image span {
        display: block;
    }

    .user-img + h3 {
        padding-top: 18px;
    }
    /*.detailed-story .carousel-inner .item {
        height:200px;
    }
    .detailed-story .carousel-inner .item img {
        height:200px;
    } */

}

@media (min-width: 641px) and (max-width: 700px){
    .logo.inner img {
        width: 60%;
    }
}

@media (max-width: 640px){
    .logo img {
        width:80%;
    }

    .full-width-box {
        height: 300px;
        padding: 50px 0;
    }
    .banner img {
        height:100%;
        width: 100%;
    }
    .full-width-box.inner {
        height: auto;
    }
    .logo.inner img {
        width: 65%;
    }


}

@media (min-width: 481px) and (max-width: 767px){
    .service-type {
        margin-bottom: 30px;
    }

}

@media (max-width: 610px){

    .full-width-box .col-xs-3, .full-width-box .col-xs-6 {
        width: 100%;
    }
    .full-width-box.inner {
        height: 210px;
        padding: 10px 0 20px;
        position: relative;
    }
    .full-width-box.inner h1 {
        background: none;
        padding: 5px;
        position: relative;
        top: 70px;
        width: 100%;
    }
    .logo.inner {
        position: relative;
        top: -88px;
    }
    .logo.inner img {
        height: 120px;
        width: auto;
    }
    .language-block.inner {
        margin-bottom: 0;
        margin-top: -45px;
        position: relative;
    }


}

@media (max-width: 480px){
    .service .col-xs-6 {
        width: 100%;
    }

    .logo img {
        width:80%;
    }
    .full-width-box {
        height: 200px;
        padding: 30px 0;
    }
    .service-image:hover > .service-logo{
        padding: 70px 0;
    }
    .footer-logo > img {
        width: 100%;
    }
    .record-container:hover > .record-edit {
        border-bottom: none;
    }
    .delete {
        right: -10px;
        top: 40%;
    }

    .detailed-story .carousel-inner .item {
        height: 230px;
    }
    .detailed-story .carousel-inner .item img {
        height: 230px;
    }

}


@media (min-width: 450px) and (max-width: 480px){
    .service-image:hover > .service-logo, .service-image.active-animate > .service-logo{
        padding: 100px 0;
    }
}

@media (min-width: 401px) and (max-width: 449px){
    .service-image:hover > .service-logo, .service-image.active-animate > .service-logo{
        padding: 80px 0;
    }
}

@media (min-width: 361px) and (max-width: 400px){
    .service-image:hover > .service-logo, .service-image.active-animate > .service-logo{
        padding: 70px 0;
    }
}


@media (max-width: 360px){
    .logo img {
        width:100%;
    }
    .service-image:hover > .service-logo{
        padding: 60px 0;
    }
    .add-comment h3, .add-comment h3 span, .post-block h3 {
        font-size: 16px;
    }

    .detailed-story .carousel-inner .item {
        height:200px;
    }
    .detailed-story .carousel-inner .item img {
        height:200px;
    }

    .banner {
        display:none;
    }

    .banner.mobile {
        display: block;
    }

    .full-width-box.inner h1 {
        visibility: hidden;
    }

}

@media (max-width: 320px){
    .service-image:hover > .service-logo, .service-image.active-animate > .service-logo{
        padding: 50px 0;
    }
}

.infinite-spinner {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    background-color: #333;
    margin: 60px auto;

    -webkit-animation: scaleout 1.0s infinite ease-in-out;
    animation: scaleout 1.0s infinite ease-in-out;
}