<footer class="sitepage-footer">
    <div class="container">
        <div class="content">
            <div class="row">
                <div class="col-sm-12 col-md-12">
                    <div class="footer-logo">
                        <img src="/images/logo.png" alt="logo">
                    </div>
                    <div class="footer-link">
                        minden tartalom © copyright {{ site.time | date: '%Y' }} xceptional development kft. minden jog fenntartva
                    </div>
                </div>
            </div>
        </div>

    </div>
</footer>