<div class="row">
    <div class="col-sm-12 col-md-12">
        <div class="user-img recent-post-img">
            <img src="/images/post-image.jpg" alt="post image">
        </div>
        <a data-href="id" class="clickable"><h4 data-content="title"></h4></a>
        <div class="recent-summary">
            <span data-content="date" class="post-date"></span>
            <div class="no-margin">
                <span class="view">
                    <i class="fa fa-eye"></i> 1700
                </span>
                <i class="fa fa-commenting-o"></i> 125
            </div>
        </div>
    </div>
</div>