<li class="col-sm-6 col-md-4">
    <div class="record-list clickable" data-id="id"  data-template-bind='[{"attribute": "target", "value": "url"}]' onclick="go(this.attributes.target.value)">
        <h4 data-content="title" ></h4>
        <div class="row">
            <div class="topic">
                <div class="col-xs-4 col-sm-4 col-md-4" data-content="date"></div>
                <div class="col-xs-8 col-sm-8 col-md-8 text-right" data-content="category"></div>
            </div>
        </div>
        <div class="record-edit">
            <span onclick="visit.clear(this, event, visit.renderIndex); " class="delete clickable" data-template-bind='[{"attribute": "parent-id", "value": "url"}]'>X</span>
        </div>
    </div>
</li>