<div class="row" data-id="id">
    <div class="col-sm-12 col-md-12">
        <a data-href="id"><h4 data-content="title"></h4></a>
        <div class="recent-summary">
            <span class="post-date" data-content="date"></span>
            <div class="no-margin">
                <span class="view">
                    <i class="fa fa-eye"></i> <span data-content="viewCount">2017</span>
                </span>
                <span class="comment">
                    <i class="fa fa-commenting-o"></i> <span data-content="commentCount">2</span>
                </span>
                <span class="remove">
                    <span onclick="visit.clear(this);visit.renderPost();" class="clickable" data-template-bind='[{"attribute": "parent-id", "value": "id"}]'><i class="fa fa-times-circle-o"></i></span>
                </span>
           </div>
        </div>
    </div>
</div>